* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0;
  padding: 0;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.progress-container > .circle {
  width: 4vh;
  height: 4vh;
  border: 3px solid rgb(169, 169, 169);
  margin: 5px 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: rgb(169, 169, 169);
}

.circle.active {
  border: 3px solid #4287f5;
}

.line {
  background-color: rgb(169, 169, 169);
  height: 3px;
  width: 50px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s;
}

.line.active {
  background-color: #4287f5;
}

button {
  background-color: rgb(169, 169, 169);
  border-radius: 5px;
  text-decoration: none;
  border: none;
  width: 75px;
  height: 30px;
  font-family: "Arial", sans-serif;
  color: #fff;
  cursor: not-allowed;
}

button.active {
  background-color: #4287f5;
  cursor: pointer;
}
